// SASS VARIABLES
$font: 'Corinthian', sans-serif;
$font-condensed: 'Corinthian Condensed', sans-serif;
$light-yellow: #ffdd00;
$yellow: #ffc20e;
$orange: #f7941e;
$dark-orange: #dc661e;
$darker-orange: #914005;
$black: #000000;
$t1: 5.8rem;
$t2: 3rem;
$t3: 1.9rem;
$t4: 1.3rem;
$t5: 1rem;
// FONT FILES
@font-face {
	font-family: 'Corinthian';
	src: url("../fonts/Corinthian-Medium.woff2") format('woff2'), url("../fonts/Corinthian-Medium.woff") format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Corinthian';
	src: url("../fonts/Corinthian-MediumItalic.woff2") format('woff2'), url("../fonts/Corinthian-MediumItalic.woff") format('woff');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Corinthian';
	src: url("../fonts/Corinthian-Bold.woff2") format('woff2'), url("../fonts/Corinthian-Bold.woff") format('woff');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Corinthian';
	src: url("../fonts/Corinthian-BoldItalic.woff2") format('woff2'), url("../fonts/Corinthian-BoldItalic.woff") format('woff');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Corinthian Condensed';
	src: url("../fonts/CorinthianPro-BoldCondensed.woff2") format('woff2'), url("../fonts/CorinthianPro-BoldCondensed.woff") format('woff');
	font-weight: bold;
	font-style: normal;
}

@import "mixins";

* {
	margin: 0;
	// box-sizing: border-box;
}

body {
	font-family: $font;
	line-height: 1.3;
	font-size: 16px;
	background: $dark-orange;
	// overflow-x: hidden;
}

// BASIC TYPOGRAPHY
h1 {
	font-family: $font-condensed;
	font-weight: normal;
	text-transform: uppercase;
	font-size: $t1;
	margin: auto;
}

h2 {
	font-family: $font-condensed;
	font-weight: normal;
	font-size: $t2;
}

h3 {
	font-size: $t4;
	font-weight: bold;
	line-height: 1.2;
}

.italics {
	font-style: italic;
}
a {
	color: white;
	text-decoration: none;
	&:hover{
		color: black;
	}
}

p {
	font-size: $t4;
	margin-bottom: 1rem;
	a{
		color: #914005;
		&:hover{
			color: $orange;
		}
	}
}

p:last-child {
	margin-bottom: 0;
}

time {
	font-size: $t4;
	margin-bottom: 1rem;
	display: block;
}

h4 {
	font-family: $font-condensed;
	font-size: $t3;
	line-height: 1.1;
	margin-bottom: 1rem;
}

// CAPTIONS
.caption {
	background-color: black;
	color: white;
	width: 100%;
	p{
		padding: 2rem;
	}
}

// PALETTE

.lightyellow {
	background-color: $light-yellow;
}

.yellow {
	background-color: $yellow;
}

.orange {
	background-color: $orange;
}

.darkorange {
	background-color: $dark-orange;
}

.white {
	background-color: white;
}

.black {
	background-color: black;
	color: white;
}

// LAYOUT
.cols {
	@include flexbox();
	@include align-items(stretch);
	@include flex-wrap(nowrap);
}
.column {
	@include flexbox();
	@include flex-flow(column wrap);
	@include flex-wrap(wrap); //IE fix
	@include align-items(stretch);
}

.cols, .column{
	width: 100%; //IE Fix
}
.no-flexbox{
	.cols {
		overflow: auto;
	}
	.block,.block-small {
		float: left;
	}
}

//IE FIXES
.block, .block-small, .post {
	max-width: 100%;
}

// width settings
.block {
	width: 50vw;
}

.block-small {
	width: 25vw;
}
// height settings
.full {
	height: 100vh;
}

#baldwin .cols {
	min-height: 100vh;
}

.half {
	@include flex(1 0 0%);
	height: auto;
}
.no-flexbox .half{
	height: 50vh;
}

.min {
	height: 50vh;
}

.post {
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	text-align: center;
}

.image {
	background-size: cover;
	background-repeat: no-repeat;
	// background-attachment: fixed;
	background-position: center;
}

#event-listing .image {
	background-blend-mode: multiply;
	background-attachment: scroll;
}

.text {
	padding: 3rem 4rem;
	font-weight: normal;
	text-align: left;
}
img {
	display: block;
	width: 100%;
}
.insta {
	position: relative;
	top: 2px;
	width: 15px;
	height: 15px;
	fill: $darker-orange;
}
a:hover .insta{
	fill: $orange;
}
.orange {
	a:hover .insta{
		fill: $black;
	}
	a:hover{
		color: black;
	}
}

// NAVIGATION MENU
nav {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 900;

	#close, .close-event {
		font-size: 3.8rem;
		font-family: Arial, sans-serif;
		line-height: 0.65;
		text-align: center;
		display: none;
	}

	ul {
		text-align: center;
		padding: 2rem;
		font-family: $font-condensed;
		font-size: $t2;
		list-style-type: none;
	}
}

#menu {
	width: 40px;
	height: 40px;
	background: $dark-orange;
	padding: 10px;
	z-index: 90;
	position: absolute;
	top: 0;
	right: 0;

	&:hover {
		cursor: pointer;
	}
}
#close{
	color: white;
	&:hover{
		color: black;
	}
}

#menu .bar {
	width: 80%;
	height: 5px;
	margin: 5px auto;
	background: white;
}
#menu:hover .bar{
	background: black;
}
.touchevents #menu:hover .bar{
	background: white;
}
#menu:active .bar{
	background: white;
}
#menu-expanded {
	display: none;
	width: 50vw;
	height: 100vh;
	z-index: 100;

	.block {
		height: 100vh;
	}
}

// svg
.svg_mail{
	 margin-top: 1rem;
	 width: 40px;
	 fill: none;
	 stroke: black;
	 stroke-miterlimit:10;
	 stroke-width: 5px;
 }
svg:hover{
	stroke: white;
	cursor: pointer;
}
.x {
	fill: none;
	stroke: black;
	stroke-miterlimit:10;
	stroke-width:5px;
}
.arrow {
  width: 40px;
  height: 40px;
  position: relative;
  top: 1rem;
	fill:none;
	stroke: black;
	stroke-miterlimit:10;
	stroke-width:5px;
}
.arrow.left{
	transform: scaleX(-1);
}
.arrow-link{
	width: 30px;
  height: 30px;
  position: relative;
  top: 6px;
  stroke: black;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 7px;
	transform: rotate(-45deg);
}



// SECTIONS
section{
	background: black;
	position: relative;
	-webkit-transform: translate3d(0,0,0);
}

.sticky {
	position: -webkit-sticky;
  position: sticky;
	top: 0px;
}
#map {
	width: 100vw;
}


main{
	margin-bottom: 290px;
	// overflow-x: hidden;
}
footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}

.pad{
	padding: 2.5rem 1rem;
}

.overlay{
	position: absolute;
	width: 50vw;
	top: 0;
	left: 0;
	background: $yellow;
	mix-blend-mode: multiply;
}

#video iframe, #map iframe{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#vid_controls{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.vid_button{
	svg {
		fill: $yellow;
	}
	&:hover svg{
		stroke-width: 0;
		cursor: pointer;
	}
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin: -50px auto auto -50px;
}
#pause-button {
	display: none;
}
#fullscreen-button{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 50px;
}
.fullscreen{
	fill: none;
	stroke: $yellow;
	stroke-miterlimit: 10;
	stroke-width: 8px;
}
button.fullscreen{

}
// MAP
#map {
	height: 100vh;
	width: 100vw;
	// iframe{
	// 	width: 100%;
	// 	height: 100%;
	// }

.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after{
	background: $orange;
	box-shadow: none;
}
.gm-style .gm-style-iw-c {
    border-radius: 0;
    padding: 1.5rem !important;
}
.gm-style-iw-d{
	overflow: hidden !important; 
	max-height: none;
}
.gm-ui-hover-effect{
	top: 0 !important;
	right: 0 !important;
}
#marker-content {
	font-family: $font;
	text-align: center;

	h6{
		font-size: 16px;
		font-weight: bold;
		line-height: 1.3;
		margin-bottom: 1em;
	}
	p{
		font-size: 16px;
		line-height: 1.3;
	}
}

}

// CALENDAR
.calendar_header{
	top: -1px;
	z-index: 50;
	font-size: $t3;
	header{
		width: 100%;
		border-bottom: 8px solid $orange;
	}
}
.calendar {
	font-size: $t3;
	overflow: hidden;
	margin-top: -4px;
}

#event-calendar h2{
	padding: 1rem 0;
}
#days{
	background: white;
	color: $orange;
	font-family: $font-condensed;
	@include flexbox();
	.day{
		@include flex(1 1 0%);
		text-align: center;
	}
}
.no-flexbox{
	#days{
		overflow: auto;
	}
	.day{
		float: left;
		width: 14.2%;
	}
}
#dates{
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	position: relative;
	border: 4px solid $orange;
	border-top: 0;
	// shift last cell of the week
	.date:nth-child(7n){
		.display.events{
			 left: -14.28vw;
		}
	}
	[data-id="2018-09-30"], [data-id^="2018-10-"]{
		.display.events{
			 top: -174px;
		}
	}
}
.no-cssgrid {
	#dates{
		overflow: auto;
	}
	.date{
		float: left;
		width: 14.2%;
	}
}
.events{
	@include flexbox();
	@include justify-content(flex-start);
	@include flex-wrap(wrap);
	color: black;
	.event-info{
		display: none;
		text-align: center;
		font-family: $font;
		font-weight: normal;
	}
}
.event-info{
	padding: 1rem;
}
.post .event-info{
	padding: 2rem 1rem;
}
.date{
	min-height: 150px;
	color: $dark-orange;
	border: 4px solid $orange;
	padding: 0.5rem;
	vertical-align: top;
	position: relative;
	font-family: $font-condensed;
}

.has_event{
	color: black !important;
	background: $yellow;
		&:hover{
		background: $orange;
		cursor: pointer;
	}
}

.location {
	margin-bottom: 0;
}

.month_prev{
	color: $yellow;
}
.month_next{
	color: $yellow;
}
.today{
	background: $yellow;
}

.display.events{
	width: 28.8vw;
	min-height: 348px;
	position: absolute;
	top: -6px;
  left: -6px;
	z-index: 30;
	background: $orange;
}

.event-nav, .close-event{
	display: none;
}

.show{
	@include flexbox();
	@include align-items(center);
	@include justify-content(center);
	width: 100%;
	.event-info{
		display: block;
		&:hover{
			cursor: pointer;
		}
	}
	.event-nav{
		display: block;
    width: 100px;
    margin: auto;
		.prev,.next{
			pointer-events: auto;
			float: left;
		}
		.next{
			float: right;
			text-align: right;
		}
		.prev, .next{
			&:hover{
				cursor: pointer;
				color: white;
			}
		}
	}
	.close-event{
		display: block;
		position: absolute;
		right: 1rem;
		top: 1rem;
		z-index: 100;
		width: 30px;
		height: 30px;
	}
}

.slidein {
	animation: slidein 800ms ease-in-out 100ms 1 forwards;
}

@keyframes slidein {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

@media screen and (max-width: 950px) {
	h1 {
		 font-size: 5rem;
	}
	.text{
		padding: 2.5rem;
	}
}
@media screen and (max-width: 800px){
	.text {
		padding: 1.5rem;
	}
	.content {
		padding: 2rem;
	}
	.half{
		flex: none;
	}
	.date{
		min-height: 50px;
		font-size: $t4;
		position: static;
	}
	.display.events{
		width: 100vw;
		height: 418px;
		top: 0;
		left: 0;
	}
	#dates {
		.date:nth-child(7n) .display.events{
			left: 0;
		}
		[data-id="2018-09-30"], [data-id^="2018-10-"]{
			.display.events{
			 top: 0;
			}
		}
	}
	.min, .full {
		height: auto;
	}
	.cols, .column {
		flex-wrap: wrap;
	}
	.block, .block-small {
		width: 100%;
	}
	#intro, #events_title {
		position: relative;
	}
	#baldwin .cols {
		height: auto;
	}
	#intro .block:first-child, #photo .full, #gallery, #baldwin .block:first-child, #teresita .post.half, #events_title .block, #featured_events .block:nth-child(2){
		height: 100vh;
	}
	.image {
		height: 50vh;
	}
	#event-listing .image{
		height: auto;
	}

	.vid_button{
		width: 80px;
    height: 80px;
    margin: -40px auto auto -40px;
	}

	#event-listing .cols>div{
		width: 50%;
	}

	#event-listing .cols:first-child  .block-small:nth-child(3){
		order: 1;
	}
	#event-listing .cols:nth-child(2)  .block-small:nth-child(2){
		order: -1;
	}
	.calendar_header.sticky {
		position: relative;
	}
	.calendar_header header {
		border-width: 4px;
	}
	#dates, .date{
		border-width: 2px;
	}
	#menu-expanded {
		width: 100vw;
		.post {
			padding: 0;
		}
	}
	nav ul{
		font-size: 2rem;
	}
}

@media screen and (max-width: 480px){
		h1 {
			font-size: 4rem;
		}
		h2 {
			font-size: 2.5rem
		}
		#days {
			font-size: $t4;
		}
		.text p, footer p, .caption p{
			font-size: 1rem;
		}
		.calendar {
			font-size: 1.3rem;
		}
}
